
.image-container {
    margin-right: 10px;
    width: 38px; 
    height: 40px;
    overflow: hidden; 
}
.logo_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

main{
    color: #fff;
}

main .feature{
    float: left;
    color: #fff;
    width: 80%;
    text-align: center;
    margin: 100px auto 0 auto;
}
main .feature h1{font-style: 50px;}
main .feature p {max-width: 500px; margin: 20px auto;}

.alert-dark{
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 25%;
    text-align: left;
}

form{
    width: 500px;
    margin: 50px auto 0 auto;
}

.container-main{
    margin: 50px auto;
    text-align: center;
}

.recipes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.recipe{
    width: 1000px;
    margin: 20px 0 0 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 15px 10px 15px;
}

.title a{
    text-decoration: none;
    font-size: 32px;
}

.description{
    border: none;
    border-radius: 5px;
    background-color: #4f97c171;
    padding: 5px 10px;
    font-size: 20px;
    text-align: start;
    margin: 0;
}

.author-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.author-container{
    opacity: 0.5;
}

.description-instructions{
    width: 100%;
    margin-top: 30px;
    display: flex;
    text-align: start;
    gap: 20px;
}

.description-container{
    min-width: 50%;
}

.comments{
    width: 700px;
    margin-top: 130px;
}

.comment-author{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
}